# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupiter notebook |
| R Studio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In Python, you can perform various arithmetic operations, such as addition, subtraction, multiplication, and division. Let's explore some examples to understand how these operations work.

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author

Minata Coulibaly